.style1 {
    color: black;
    font-size: 18px;
    text-shadow: 2px 2px #ff0000;}
.style2 {
    color:beige;
    font-size: 24px;
    text-transform: uppercase;}
.style3 {
    color:red;
    font-size: 24px;
    letter-spacing: 2px;}

.style4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: oblique;
	color: #00FFCC;
	letter-spacing: 1em;
}

.style5 {
	color: #9966FF;
	font-family: "Euphemia UCAS Bold";
	font-size: 34px;
}

.newstyle{
    font-size: 9px;
    color: pink;
}