@charset "UTF-8";
.center {
	height: 675px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
.actiondivs {
	float: left;
	height: 200px;
	width: 300px;
	background-color: #000;
}
#picdiv {
	float: left;
	height: 200px;
	width: 300px;
	background-image: url(middle.jpg);	
}
